<style>
    h1 {
        color: rgb(231, 84, 128);
        background-color: rgb(255, 182, 193);
        font-size: 36px;
    }
	
    button {
        color: rgb(255, 182, 193);
        background-color: rgb(255, 255, 255);
        border-color: purple;
    }
	p {
    font-family: 'Times New Roman', serif;
    color: rgb(231, 84, 128);
    font-size: 18px;
}
h2 {
        color: rgb(231, 84, 128);
        background-color: rgb(255, 182, 193);
        font-size: 36px;
    }
</style>